h1 {
  font-size: 50px;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.newEmployee {
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

.newEmployee:hover {
  background-color: #ececec;
}
.header {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  margin-left: 5px;
}

.deleteButton:hover {
  color: red;
}

.editButton:hover {
  color: blue;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  max-width: 600px;
}
